[Unit]
Description=Run day_night at 06:00 and 17:00 every day

[Timer]
OnCalendar=*-*-* 06:00:00
OnCalendar=*-*-* 17:00:00
Persistent=true

[Install]
WantedBy=timers.target

