window {
margin: 0px;
border: 1px solid #8a8a8a;
border-radius: 8px;
background-color: #262626;
}

#input {
margin: 5px;
border: none;
color: #8a8a8a;
background-color: #3a3a3a;
}

#inner-box {
margin: 5px;
border: none;
background-color: #262626;
}

#outer-box {
margin: 5px;
border: none;
background-color: #262626;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #8a8a8a;
}

#entry:selected {
background-color: #262626;
}