window {
margin: 0px;
border: 1px solid #{{base03-hex}};
border-radius: 8px;
background-color: #{{base00-hex}};
}

#input {
margin: 5px;
border: none;
color: #{{base03-hex}};
background-color: #{{base0A-hex}};
}

#inner-box {
margin: 5px;
border: none;
background-color: #{{base00-hex}};
}

#outer-box {
margin: 5px;
border: none;
background-color: #{{base00-hex}};
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #{{base03-hex}};
}

#entry:selected {
background-color: #{{base00-hex}};
}
