[color]

gradient = 1

gradient_color_1 = '#{{base05-hex}}'
gradient_color_2 = '#{{base06-hex}}'
gradient_color_3 = '#{{base07-hex}}'
gradient_color_4 = '#{{base08-hex}}'
gradient_color_5 = '#{{base09-hex}}'
gradient_color_6 = '#{{base0A-hex}}'
gradient_color_7 = '#{{base0B-hex}}'
gradient_color_8 = '#{{base0C-hex}}'
