* {
	font-size: 20px;
	font-family: AnonymicePro Nerd Font, monospace;
}

window#waybar {
	background: #1d2021;
  opacity: 0.9;
	color: #d5c4a1;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #504945;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #1d2021;
	background: #504945;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#wireplumber,
#memory,
#cpu,
#disk,
#tray {
	background: #504945;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf4c1;
}
#workspaces button.active {
	color: #fb543f;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #a89984;
	border: #a89984;
	padding: 0 3px;
}

#wireplumber {
  color: #d5c4a1;
}
#memory {
	color: #fac03b;
}
#cpu {
	color: #95c085;
}
#disk {
	color: #fac03b;
}

#clock,
#wireplumber,
#memory,
#cpu,
#disk {
	padding: 0 10px;
}