* {
	font-size: 20px;
	font-family: AnonymicePro Nerd Font, monospace;
}

window#waybar {
	background: #1c1e26;
  opacity: 0.9;
	color: #232530;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #9da0a2;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #1c1e26;
	background: #9da0a2;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#wireplumber,
#memory,
#cpu,
#disk,
#tray {
	background: #9da0a2;
}

#workspaces button {
	padding: 0 2px;
	color: #1c1e26;
}
#workspaces button.active {
	color: #1c1e26;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #cbced0;
	border: #cbced0;
	padding: 0 3px;
}

#wireplumber {
  color: #232530;
}
#memory {
	color: #232530;
}
#cpu {
	color: #232530;
}
#disk {
	color: #232530;
}

#clock,
#wireplumber,
#memory,
#cpu,
#disk {
	padding: 0 10px;
}