* {
    bg:        #{{base00-hex}};
    bg-alt:    #{{base01-hex}};
    selection: #{{base02-hex}};
    muted:     #{{base03-hex}};
    fg:        #{{base05-hex}};
    accent:    #{{base0D-hex}};
    urgent:    #{{base08-hex}};
}
