* {
	font-size: 20px;
	font-family: AnonymicePro Nerd Font, monospace;
}

window#waybar {
	background: #{{base00-hex}};
  opacity: 0.9;
	color: #{{base0A-hex}};
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #{{base08-hex}};
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #{{base00-hex}};
	background: #{{base08-hex}};
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#wireplumber,
#memory,
#cpu,
#disk,
#tray {
	background: #{{base08-hex}};
}

#workspaces button {
	padding: 0 2px;
	color: #{{base0A-hex}};
}
#workspaces button.active {
	color: #{{base00-hex}};
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #{{base05-hex}};
	border: #{{base05-hex}};
	padding: 0 3px;
}

#wireplumber {
  color: #{{base09-hex}};
}
#memory {
	color: #{{base0A-hex}};
}
#cpu {
	color: #{{base0B-hex}};
}
#disk {
	color: #{{base0C-hex}};
}

#clock,
#wireplumber,
#memory,
#cpu,
#disk {
	padding: 0 10px;
}
